In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [3]:
inFile=pd.read_csv("input.csv")
inFile.head()

   H_Grade  H_District  Guest_Sum  H_Accomadation  H_Type  W_DaN  W_Theme
0        5           1          1               0       1      1        0

In [4]:
datFile=pd.read_csv(str(inFile.at[0,'H_District'])+".csv")

In [5]:
datFile.head()

,H_Grade,H_District,Guest_Sum,H_Accomadation,H_Type,W_DaN,W_Theme,Budget
0,5,0,1,1,0,0,0,6500
1,5,0,1,1,0,0,1,6650
2,5,0,1,1,0,0,2,6620
3,5,0,1,1,0,0,3,6590
4,5,0,1,1,0,0,4,6550

In [6]:
x=datFile[['H_Grade','H_District','Guest_Sum','H_Accomadation','H_Type','W_DaN','W_Theme']]

In [7]:
y=datFile['Budget']

In [8]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
lr.intercept_

3207.3333333333335

In [10]:
lr.coef_[1]

-3.836930773104541e-13

In [12]:
output=lr.intercept_+lr.coef_[0]*datFile.at[0,'H_Grade']+lr.coef_[1]*datFile.at[0,'H_District']+lr.coef_[2]*datFile.at[0,'Guest_Sum']
+lr.coef_[3]*datFile.at[0,'H_Accomadation']+lr.coef_[4]*datFile.at[0,'H_Type']+lr.coef_[5]*datFile.at[0,'W_DaN']+lr.coef_[6]*datFile.at[0,'W_Theme']

99.99999999999979

In [13]:
print(output)

6057.333333333333